<!doctype html>
<html lang="en">
  <head>
  {{ head|safe }}

  <title>Kārtiņas</title>
  </head>
  <body>
    <h1>Laipni lūgts latviešu darbības vārdu kārtiņās!</l></h1>
      <form action="login" method="POST">
        <label for="username">Lietotājvārds:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Parole:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Pieslēgties">
    </form><br><br>

    <p>Jauns lietotājs? <a href="new_user">Reģistrēties</a></p>
  </body>
</html>